<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="description" content="<%- htmlWebpackPlugin.options.metadata.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">

    <!-- Images -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ed2b88">
    <meta name="msapplication-TileColor" content="#ed2b88">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook OpenGraph -->
    <meta property="og:image" content="/og-image.jpg">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:description" content="A Hacker News PWA Client written in Aurelia">
    <meta property="og:title" content="Aurelia HN">
    <meta property="og:url" content="http://example.com">

    <!-- imported CSS are concatenated and added automatically -->
    <!-- TODO: Setup through webpack so we can import the less file instead -->
    <style type="text/css">
      @-ms-viewport {
        width: device-width;
      }
      body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 15px;
        background-color: #f2f3f5;
        margin: 0;
        padding-top: 3rem;
      }
      a,
      body {
        color: #34495e;
      }
      a {
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #ed2b88;
      }
      pre {
        overflow: auto;
      }
      header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 3rem;
        background: #ed2b88;
        z-index: 999;
        box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
      }
      header nav {
        margin: 0 auto;
        max-width: 50rem;
        box-sizing: border-box;
        height: 3rem;
        display: flex;
        align-items: center;
      }
      header a {
        color: #f2f3f5;
        font-weight: 400;
        opacity: 0.9;
        transition: opacity 300ms;
        margin-right: 1rem;
      }
      header a.active {
        font-weight: 800;
        opacity: 1;
      }
      header a:hover,
      header a:focus {
        color: #f2f3f5;
        opacity: 1;
      }
      header a.right {
        margin-right: 0;
        flex: 1;
        text-align: right;
      }
      header a.brand {
        opacity: 1;
      }
      header a.brand img {
        max-width: 2rem;
        filter: saturate(0) invert(100) brightness(100);
        opacity: 1;
      }
      @media (max-width: 50rem) {
        nav {
          padding: 0 1rem;
        }
        nav .right {
          display: none;
        }
        main {
          margin: 0;
        }
      }

      footer {
        position: fixed;
        bottom: -4rem;
        left: 0;
        right: 0;
        background: #eee;
        /* height: 2rem; */
        text-align: center;
        padding: 0.7rem 0;
        /* border: solid; */
        transition: bottom  300ms;
        box-shadow: -3px -2px 0px rgba(0,0,0,0.1);
      }

      footer > * {
        opacity: 0.7;
      }

      .offline footer {
        bottom: 0;
      }
    </style>
  </head>
  <body>
    <div aurelia-app="main">
      <header>
        <nav>
          <a href="/" class="brand"><img src="/aurelia-logo.svg" alt=""></a>
          <a href="https://github.com/justindra/aurelia-hnpwa" class="right" target="_blank" rel="noopener">Built with Aurelia</a>
        </nav>
      </header>
    </div>
    <footer>You are currently offline...</footer>
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <script>
      // Detect Service Worker
      if('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js', { scope: '/' })
          .then(function(registration) {
                console.log('Service Worker Registered');
          });
        navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service Worker Ready');
        });
      }

      window.addEventListener('load', function() {
        var body = document.getElementsByTagName('body')[0];
        updateOnlineStatus();
      
        function updateOnlineStatus() {
          var condition = navigator.onLine ? 'online' : 'offline';
          body.className = condition;
        }
      
        window.addEventListener('online',  updateOnlineStatus);
        window.addEventListener('offline', updateOnlineStatus);
      });
    </script>
  </body>
</html>
